
<% order.line_items.each do |i| %>
  <h3><%= i.product.name %></h3>
  <p><%= i.product.description %></p>
  <%= image_tag i.product.image.thumb, class: 'main-img' %>
  <p>Quantity Ordered: <%= i.quantity %></p>
  <p>Total Price for <%= i.product.name %>: <%= i.total_price_cents / 100.0 %></p>
<% end %>
